.glosser-tooltip-trigger {
    position: relative;
    cursor: pointer;
    border-bottom: 1px dashed var(--acc);
    transition: all 0.2s;
}

.glosser-tooltip-trigger:hover {
<<<<<<< HEAD
    background: var(--bg);
=======
    background: rgba(124, 58, 237, 0.15);
>>>>>>> 2ab0d7936fd3406865be14858a1d047ddccc4804
}

.glosser-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
<<<<<<< HEAD
    background: var(--bg) !important;
=======
    background: var(--s4);
>>>>>>> 2ab0d7936fd3406865be14858a1d047ddccc4804
    border: 1px solid var(--bd);
    padding: 12px 16px;
    border-radius: var(--rad-sm);
    box-shadow: var(--shadow-hover);
    z-index: 10;
    transition: all 0.2s ease;
    width: max-content;
    pointer-events: none;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.glosser-tooltip-trigger:hover .glosser-tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}