/* src/components/Card.css */

.card {
    position: relative;
    background: var(--s1);
    border-top: 3px solid var(--acc2);
    border-radius: var(--rad);
    padding: 30px;
    margin-bottom: 25px;
    box-shadow: var(--shadow);
    transition: 0.3s ease;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border: 1px solid var(--bd);
}

.card:hover {
    border-color: var(--acc);
}